# Dataset generated by genAI
**Prompt:**

Generate a synthetic Canadian rental listings dataset named rentaldb with at least 250 entries. The dataset should be saved as rentaldb_ca.csv and optionally as rentaldb_ca.json.
Each record must include the following fields: unique ID, monthly rent (price), square footage (square_feet), number of bedrooms, number of bathrooms, city, province (2-letter code), latitude, longitude, list of amenities, posting date, and building type (apartment, condo, townhouse, basement, house).
Include optional fields for added realism: postal code, neighbourhood, pets allowed, and included utilities (e.g., heat, hydro, water).
Cover at least 3 provinces and 8–12 cities (e.g., Toronto, Ottawa, Mississauga in ON; Montreal, Quebec City in QC; Vancouver, Victoria in BC; Calgary, Edmonton in AB), ensuring rent and area values are roughly consistent per city, but introduce some mild outliers and a few missing values to mimic real-world variation.
Ensure reproducibility by setting a fixed random seed if generating via code, or document prompts and post-processing if using a generative AI approach.

# 1. Environment Preparation

In [ ]:
import pandas as pd
import numpy as np

# 2. Load the dataset

In [ ]:
df = pd.read_csv('rentaldb_ca.csv')
df.head()

,id,price,square_feet,bedrooms,bathrooms,cityname,province,latitude,longitude,amenities,posted_date,building,postal_code,neighbourhood,pets_allowed,included_utilities
0,1,1451.01,1145.0,2.0,1.6,Ottawa,ON,45.420210,-75.711618,Gym;Laundry,9/25/2025,Townhouse,89211,land,True,Heat
1,2,1856.45,1076.0,2.0,1.0,Edmonton,AB,53.479743,-113.493715,Elevator;Laundry;Pool,11/17/2025,Apartment,72316,ton,True,Heat;Hydro
2,3,1345.59,353.0,2.0,2.8,Vancouver,BC,49.307885,-123.097556,Laundry;Storage;Parking;Balcony,11/23/2025,House,4509,shire,True,Heat;Hydro
3,4,3409.37,268.0,1.0,2.0,Vancouver,BC,49.287966,-123.062954,Gym;Storage;Elevator;Parking,7/8/2025,Townhouse,99547,furt,False,Heat;Hydro
4,5,3940.95,567.0,1.0,1.4,Montreal,QC,45.507787,-73.625302,Pool;Laundry,6/11/2025,Condo,68784,fort,True,Heat;Hydro

# 3. Print Info

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  250 non-null    int64
 1   price               241 non-null    float64
 2   square_feet         250 non-null    float64
 3   bedrooms            246 non-null    float64
 4   bathrooms           250 non-null    float64
 5   cityname            250 non-null    object
 6   province            250 non-null    object
 7   latitude            250 non-null    float64
 8   longitude           250 non-null    float64
 9   amenities           244 non-null    object
 10  posted_date         250 non-null    object
 11  building            250 non-null    object
 12  postal_code         250 non-null    int64
 13  neighbourhood       250 non-null    object
 14  pets_allowed        250 non-null    bool
 15  included_utilities  193 non-null    object
dtypes: bool(1), float64(6), int64(2), object(7)
memory usage: 29.7+ KB

# 4. Finding Missing Values

In [ ]:
print(df.isna().sum())

id                     0
price                  9
square_feet            0
bedrooms               4
bathrooms              0
cityname               0
province               0
latitude               0
longitude              0
amenities              6
posted_date            0
building               0
postal_code            0
neighbourhood          0
pets_allowed           0
included_utilities    57
dtype: int64

# 5. Standardize Categorical Text

Clean cityname (trim spaces + consistent capitalization)

In [ ]:
df['cityname'] = df['cityname'].astype(str)   # ensure string type
df['cityname'] = df['cityname'].str.strip()   # remove leading/trailing spaces
df['cityname'] = df['cityname'].str.title()   # Proper Case (e.g., toronto → Toronto)

Clean province (uppercase + trim spaces)

In [ ]:
df['province'] = df['province'].astype(str)
df['province'] = df['province'].str.strip()
df['province'] = df['province'].str.upper()

Ensure numeric columns are numeric

In [ ]:
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['square_feet'] = pd.to_numeric(df['square_feet'], errors='coerce')
df['bathrooms'] = pd.to_numeric(df['bathrooms'], errors='coerce')

Fix bedrooms to true integers

In [ ]:
df['bedrooms'] = pd.to_numeric(df['bedrooms'], errors='coerce')
df['bedrooms'] = df['bedrooms'].astype('Int64')   # allows missing values

# 6. Verify Fixes

In [ ]:
df.dtypes

id                      int64
price                 float64
square_feet           float64
bedrooms                Int64
bathrooms             float64
cityname               object
province               object
latitude              float64
longitude             float64
amenities              object
posted_date            object
building               object
postal_code             int64
neighbourhood          object
pets_allowed             bool
included_utilities     object
dtype: object

# 7. Compute descriptive statistics

In [ ]:
# Mean
print("MEAN VALUES")
print("Price (CAD):", df['price'].mean())
print("Square Feet:", df['square_feet'].mean())
print("Bathrooms:", df['bathrooms'].mean())

#Median
print("\nMEDIAN VALUES")
print("Price (CAD):", df['price'].median())
print("Square Feet:", df['square_feet'].median())
print("Bathrooms:", df['bathrooms'].median())

#Mode
print("\nMODE VALUES")
print("Price (CAD):\n", df['price'].mode())
print("Square Feet:\n", df['square_feet'].mode())
print("Bathrooms:\n", df['bathrooms'].mode())

MEAN VALUES
Price (CAD): 2557.92489626556
Square Feet: 790.08
Bathrooms: 1.5692000000000002

MEDIAN VALUES
Price (CAD): 2446.8
Square Feet: 774.0
Bathrooms: 1.6

MODE VALUES
Price (CAD):
 0       716.190
1       810.660
2      1001.555
3      1052.080
4      1086.960
         ...
236    4352.180
237    4625.080
238    4730.820
239    4816.665
240    5036.205
Name: price, Length: 241, dtype: float64
Square Feet:
 0    529.0
Name: square_feet, dtype: float64
Bathrooms:
 0    1.0
Name: bathrooms, dtype: float64

Almost every price in my dataset appears only once, so pandas treats all values as “modes”. That’s why we see a long list of numbers — there isn’t a single most common price.

# 8. Filling Missing Vaues (Imputation)

In [ ]:
# Fill missing price with median
df['price'] = df['price'].fillna(df['price'].median())

# Fill bedrooms with most common value
df['bedrooms'] = df['bedrooms'].fillna(df['bedrooms'].mode()[0])

# Fill amenities with "Unknown"
df['amenities'] = df['amenities'].fillna("Unknown")

# Fill included_utilities with "Unknown"
df['included_utilities'] = df['included_utilities'].fillna("Unknown")

# 9. Export Cleaned Data

In [ ]:
df.to_csv("rentaldb_ca_cleaned.csv", index=False)
df.to_json("rentaldb_ca_cleaned.json", orient="records", indent=2)

print("\nFiles exported:")
print("• rentaldb_ca_cleaned.csv")
print("• rentaldb_ca_cleaned.json")

Files exported:
• rentaldb_ca_cleaned.csv
• rentaldb_ca_cleaned.json

# Briefly note assumptions and cleaning rules (caps/trim, imputation, outlier caps if used)

The dataset was cleaned to make it more consistent and easier to use. Extra spaces were removed and text fields like cityname and province were standardized. Numeric columns such as price, square_feet, and bathrooms were converted to the correct data types.
Missing values were handled by filling price with the median and bedrooms with the most common value. For categorical fields like amenities and included_utilities, missing values were replaced with “Unknown” instead of removing records. This helped keep the data complete and realistic.

# A short markdown Schema & Design Notes.

**Field Name	    |      Data Type |     	Description**

id	           --->       Integer  	 --->     Unique identifier for each rental listing


price	        --->        Integer 	 --->      Monthly rental price in Canadian dollars


square_feet	  --->         Integer	   --->      Size of the apartment in square feet


bedrooms	 --->            Integer	--->         Number of bedrooms


bathrooms	 --->            Float	     --->      Number of bathrooms


cityname	   --->          String	   --->      Name of the city


province	 --->            String	    --->     Canadian province code (e.g., ON, QC, BC)


latitude	   --->          Float	       --->    Geographic latitude of the property


longitude	   --->          Float	   --->        Geographic longitude of the property


amenities	 --->            String	  --->       Semicolon-separated list of amenities


posted_date	 --->          Date	   --->        Date the listing was posted (ISO format)


building	--->             String	   --->      Type of building (e.g., Apartment, Condo)


postal_code	 --->          String 	--->         Canadian postal code (A1A 1A1)


neighbourhood	--->         String	   --->      Neighbourhood name


pets_allowed	 --->        Boolean	--->         Whether pets are allowed


included_utilities---> 	  String	  --->       Utilities included in rent


The dataset was designed to represent synthetic Canadian rental apartment listings. Each record represents a single rental unit and includes a unique id, monthly rent in CAD (price), unit size in square feet (square_feet), number of bedrooms and bathrooms, and geographic details such as cityname, province, latitude, and longitude.

Additional fields such as amenities, posted_date, building, postal_code, and included_utilities were included to support search, filtering, and analytical use cases. The schema was designed to realistically reflect Canadian rental market data while allowing for missing values and outliers to simulate real-world data quality challenges.